.team {
  margin-top: 10px;
  border: 1px solid #929aab;
}
.teamName {
  width: 100%;
  text-align: center;
  height: 20px;
  background-color: #929aab;
  color: white;
}
.teamName:focus {
  width: 100%;
  text-align: center;
  height: 20px;
  background-color: #929aab;
  color: white;
  border: none;
}
.members {
  height: 50px;
}
